CONFIG_PROJECT="bootloader"
# CONFIG_XIP is not set
CONFIG_PSRAM=y
CONFIG_BIN_COMPRESS=y
CONFIG_BOOTLOADER=y
# CONFIG_PSRAM_HEAP_WRITETHROUGH is not set
CONFIG_SECURE_BOOT=y
CONFIG_TRUSTZONE_BOOT=y
CONFIG_TZ_ROM=y
CONFIG_TZ_PSRAM=y
CONFIG_TZ_PSRAM_SIZE=32
