CONFIG_PROJECT="example/audio_reverb"

CONFIG_XIP=y

CONFIG_XPLAYER=y

CONFIG_FILESYSTEMS=y
CONFIG_LITTLE_FS=y
CONFIG_LITTLE_FS_START_ADDR=1572864
CONFIG_LITTLE_FS_BLOCK_SIZE=4096
CONFIG_LITTLE_FS_BLOCK_COUNT=128
