CONFIG_PROJECT="test/etf"
CONFIG_XIP=y
CONFIG_WLAN=y
CONFIG_BLE_FEATURE=y
CONFIG_BLE=y
# CONFIG_BT is not set
# CONFIG_OTA is not set
# CONFIG_WIFI_CERTIFIED is not set
# CONFIG_WLAN_STA is not set
# CONFIG_WLAN_MONITOR is not set
# CONFIG_WLAN_AP is not set
CONFIG_ETF_CLI=y
CONFIG_ETF=y
